openai
pandas
numpy
python-dotenv
ipykernel
langchain
chromadb
tiktoken
streamlit
pypdf2
faiss-cpu
huggingface_hub
pinecone-client
unstructured
pdf2image
pdfminer
unstructured_pytesseract
opencv-python
pikepdf
pypdf
unstructured_inference